h1 {
  /*text-align:center;*/
}
th,td {
  text-align:center;
}
.text-align-right {text-align:right;}
.text-align-left {text-align:left;}
.tangerine-font { font-family: 'Tangerine', serif; }
.font-48 {font-size: 48pt;}
.font-36 {font-size: 36pt;}
.top-header {

}
/*.top-header {
  text-align:center;
  font-family: 'Tangerine', serif;
  font-size: 48pt;
  text-shadow: 4px 4px 4px #aaa;
}*/
.question-li {
  cursor: pointer;
}
.removeable-box {
}
